<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample4-1</title>
</head>

<body>
  <h1>Authorized! <span sec:authentication="name"></span></h1>
  <div><a href="/sample4/step2/1">小屋に最初に入室した人を1人表示する</a></div>
  <th:block th:if="${chamber != null}">
    <span>入室者: [[${chamber.getUserName()}]]</span>
    <span>小屋名: [[${chamber.getChamberName()}]]</span>
  </th:block>
  <br>
  <a href="/sample4/step3">Sample4-3へGETで移動</a>
  <br>
  <a href="/logout">ログアウト</a>
</body>

</html>
